extends layouts/admin-layout

block content
    h4 #{title}
    form(method='POST' action='/admin/edit/'+employee._id)
        div.form-group
            label Name:
            input.form-control(name='name', type='text' value=employee.name)

        div.form-group
            label Age:
            input.form-control(name='age', type='text' value=employee.age)
        
        div.form-group
            label Salary:
            input.form-control(name='salary', type='text' ,value=employee.salary)

        div.form-group
            label Address:
            input.form-control(name='houseno', type='text' ,value= employee.address ? employee.address.houseNumber : '')
        
        div.form-row
            div.form-group.col-md-6
                label City:
                input.form-control(name='city', type='text' ,value= employee.address ? employee.address.city : '')

            div.form-group.col-md-4
                label State:
                input.form-control(name='state', type='text', value= employee.address ? employee.address.state : '')

            div.form-group.col-md-2
                label Pincode:
                input.form-control(name='pin', type='text', value=employee.address ? employee.address.pin: '')


        div.form-group
            label Gender:
            select.form-control(name='gender')
                option(selected=employee.gender == '') select
                option(selected=employee.gender == 'male', value = 'male') Male
                option(selected=employee.gender == 'female', value = 'female') Female
        
        div.form-row
            div.form-group.col-md-6
                label Department:
                select.form-control(name='dept_name')
                    option(value= '0') Select
                    each dept, i in departments
                        if employee.dept
                            option(value =dept.name, selected=dept.name == employee.dept.name)= dept.name
                        else 
                            option(value =dept.name)= dept.name

            div.form-group.col-md-6
                label Region:
                select.form-control(name='dept_region')
                    option(value= '0') Select
                    each dept, i in departments
                        if employee.dept
                            option(value =dept.region, selected = dept.region == employee.dept.region)= dept.region
                        else
                            option(value =dept.region)= dept.region

        input(name='address_id', type='hidden', value=employee.address ? employee.address._id : 'empty')
        br
        input.btn.btn-primary(type='submit', value='submit')