extends layouts/admin-layout

block content
    div.row
        div.col-sm-6
            h5.app-emp-name Details of #{employee.name}
        div.col-sm-6
            a.app-back-btn(href='/admin/viewall') Back 
    table.table.table-bordered
        thead
            tr
                th Name
                th Age
                if employee.dept
                    th Dept
                    th Region
                if employee.salary
                    th Salary
                if employee.address
                    th Address
                th Gender
        tbody
            tr
                td= employee.name
                td= employee.age
                if employee.dept
                    td= employee.dept.name
                    td= employee.dept.region
                if employee.salary
                    td= employee.salary
                if employee.address
                    td  
                        p= employee.address.houseNumber 
                        p= employee.address.city
                        p= employee.address.state
                        p= employee.address.pin
                td= employee.gender

    hr
    
    a.btn.btn-primary(href='/admin/edit/'+ employee._id) Edit 
    a.btn.btn-danger.app-delete-btn(href='#' data-id=employee._id) Delete